.forgotPassword {
    .container {
        display: grid;
        gap: 1rem 2rem;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        width: 60%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 50%;
        }

        @include xxl {
            width: 35%;
        }

       
    }
}
