#saved-courses {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include lg {
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 150px;
    }

    .details {
        padding-top: 40px;
        padding-bottom: 80px;

        .title-bar {
            display: flex;
            gap: 15px;
            padding-top: 20px;
            padding-bottom: 20px;

            @include lg {
                padding-top: 0;
                justify-content: space-between;
            }

            form {
                width: auto;

                .btn-gray {
                    background-color: transparent;
                    border: 1px solid var(--color-danger-dark);
                    color: var(--color-danger-dark);
                    display: inline-flex;

                    &:hover {
                        background-color: var(--color-danger-dark);
                        color: var(--color-white);
                    }
                }
            }


            h2 {
                margin: 0;
                padding: 0;
            }
        }



        .content-contaier {
            padding-top: 50px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem 1.5rem;

            @include lg {
                grid-template-columns: 1fr 1fr;
            }


            .course-item {
                @include theme-secondary-shadow;
                border-radius: 8px;
                border: 1px solid var(--color-gray-100);

                .image-container {
                    position: relative;

                    img {
                        border: none;
                        border-radius: 8px;
                        width: 100%;
                    }

                    .btn-sell {
                        height: 40px;
                        width: 40px;
                        background-color: var(--color-white);
                        border: none;
                        position: absolute;
                        border-radius: 50%;
                        top: 15px;
                        right: 15px;
                        z-index: 2;

                        i {
                            font-size: 15px;
                        }

                        &:hover {

                            i {
                                color: var(--color-theme);
                            }
                        }
                    }

                    .badge {
                        position: absolute;
                        top: 15px;
                        left: 13px;
                        z-index: 2;
                        background-color: var(--color-success-dark);
                        padding: 5px 12px;
                        font-size: 15px;
                        font-weight: 400;
                        color: var(--color-white);
                    }
                }

                .info {
                    padding: 20px;

                    .price {
                        p {
                            font-size: 22px;
                            font-weight: 700;
                            color: var(--color-theme);
                        }
                    }

                    .duration-rating {
                        display: flex;
                        gap: 25px;

                        .duration {
                            i {
                                padding-right: 7px;
                            }
                        }

                        .rating {
                            i {
                                font-size: 20px;
                            }

                            display: flex;
                            gap: 7px;
                        }
                    }
                }
            }
        }
    }
}
