.switch-section {
    display: none;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: auto;

    @include lg {
        display: flex;
    }

    .image-wrapper {
        position: relative;
        width: 50%;
        height: auto;
        overflow: hidden;
        padding-bottom: 80px;
    }


    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .btn-slider {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--color-theme);
        cursor: ew-resize;
        z-index: 2;
    }

    .vertical-line {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background: var(--color-theme);
    }

    h1 {
        padding-top: 80px;
        @include h2;

        @include lg {
            @include d4;
        }
    }


    .light-side {
        background: var(--color-gray-100);
        align-items: left;
        z-index: 1;

        h1 {
            color: var(--color-gray-900);
            text-align: left;
            padding-left: 12px;
        }
    }

    .dark-side {
        background: var(--color-gray-900);

        h1 {
            color: var(--color-gray-000);
            text-align: right;
            padding-right: 15px;
        }

        .img-slide {
            position: relative;
            transform: translateX(43.5%);
            z-index: 0;
        }
    }
}
