@page "/courses/course"
<section id="single-course">
    <div class="overlay">
        <img class="header-img-background" src="/images/courses/" >
    </div>
    <div class="container">

        <header>
            <div class="button-group">
                <button class="best-seller" asp-controller="Courses" asp-action="BestSeller">Best seller</button>
                <button class="digital" asp-controller="Courses" asp-action="Digital">Digital</button>
            </div>
            <h1>Name</h1>
            <p>Ingress</p>

            <div class="duration-rating">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star not-active"></i>
                </div>
                <p>K reviews</p>
                <span> | </span>

                <p><i class="fa-sharp fa-light fa-thumbs-up"></i> likes"</p>
                <span> | </span>

                <div class="duration"><i class="fa-regular fa-clock"></i> hours</div>
            </div>

            <div class="author-container">
                <img src="/images/authors/avatar.svg" />
                <div class="author">
                    <h6>Created by</h6>
                    <p>AuthorName</p>
                </div>
            </div>
        </header>
        <div class="content">
           
            <div class="description">
                <h2>Course Description</h2>
                <p>Description</p>
                <h4>What you'll learn</h4>
                <div class="list">
                    @* foreach (var item in Model.ProgramGoals.Split(";")) *@
                    <p><i class="fa-regular fa-circle-check"></i> item</p>
                </div>
            </div>
            <div class="info-card">
                <h4>This course includes:</h4>
                <p><i class="fa-solid fa-display"></i> Duration hours on-demand video</p>
                <p><i class="fa-regular fa-file-lines"></i>ArticleCount articles</p>
                <p><i class="fa-regular fa-down-to-bracket"></i>DownloadedResourses downloadable resources</p>
                <p><i class="fa-regular fa-infinity"></i> Full lifetime access</p>
                <p><i class="fa-regular fa-trophy"></i> Certificate of completion</p>
                <h3>
                    
                         <span>Price</span>
                    
                </h3>
                <form asp-controller="Courses" asp-action="Join" method="post">
                    <button type="submit" class="btn-theme-s">Join course</button>
                </form>

            </div>
        </div>

        <div class="program-detail">
            <h2>Program Details</h2>
            <div class="step-container">
                <div class="step">
                    <div class="number">
                        <h2>1</h2>
                    </div>
                    <div class="text">
                        <h3>Introduction. Getting started</h3>
                        <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                </div>

                <div class="step">
                    <div class="number">
                        <h2>2</h2>
                    </div>
                    <div class="text">
                        <h3>The ultimate HTML developer: advanced HTML</h3>
                        <p>Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
                    </div>
                </div>

                <div class="step">
                    <div class="number">
                        <h2>3</h2>
                    </div>
                    <div class="text">
                        <h3>CSS & CSS3: basic</h3>
                        <p>Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
                    </div>
                </div>

                <div class="step">
                    <div class="number">
                        <h2>4</h2>
                    </div>
                    <div class="text">
                        <h3>JavaScript basics for beginners</h3>
                        <p>Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
                    </div>
                </div>
                <div class="step">
                    <div class="number">
                        <h2>5</h2>
                    </div>
                    <div class="text">
                        <h3>Understanding APIs</h3>
                        <p>Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
                    </div>
                </div>
                <div class="step">
                    <div class="number">
                        <h2>6</h2>
                    </div>
                    <div class="text">
                        <h3>C# and .NET from beginner to advanced</h3>
                        <p>Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="author-info">
            <img src="/images/authors/"/>
            <div class="text-block">
                <p>Learn from the best</p>
                <h1>AuthorName</h1>
                <p>AuthorDescription</p>
                <div class="buttons">
                    <a class="btn-red"><i class="fa-brands fa-youtube"></i> subscribers</a>
                    <a class="btn-gray"><i class="fa-brands fa-square-facebook"></i>followers</a>
                </div>
                <img class="decor" src="~/images/single-course/pattern.svg" />
            </div>

        </div>
    </div>

</section>
