<section id="features">
    <div class="features">
        <div class="container">
            <h1>What Do You Get with Our Tool?</h1>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
            <div class="tool-features">
                @foreach (var item in featureItems)
                {
                    <div class="box">
                        <img src="images/icons/@item.ImgUrl" alt="@item.Title">
                        <h5>@item.Title</h5>
                        <p>@item.Text</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@code {
    public class FeatureItem
    {
        public string ImgUrl { get; set; } = null!;
        public string Title { get; set; } = null!;
        public string Text { get; set; } = null!;
    }

    List<FeatureItem> featureItems = new List<FeatureItem>()
    {
        new FeatureItem { ImgUrl = "chat.svg", Title = "Comments on Tasks", Text = "Id mollis consectetur congue egestas egestas suspendisse blandit justo." },
        new FeatureItem { ImgUrl = "analytic.svg", Title = "Tasks Analytics", Text = "Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate." },
        new FeatureItem { ImgUrl = "assignees.svg", Title = "Multiple Assignees", Text = "A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris." },
        new FeatureItem { ImgUrl = "notification.svg", Title = "Notifications", Text = "Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra." },
        new FeatureItem { ImgUrl = "sections.svg", Title = "Sections & Subtasks", Text = "Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus." },
        new FeatureItem { ImgUrl = "security.svg", Title = "Data Security", Text = "Aliquam malesuada neque eget elit nulla vestibulum nunc cras." }
        
    };
}
