<section class="switch-section">
    <div class="dark-side image-wrapper">
        <h1>Switch Between</h1>
        <div class="img-slide">
            <img src="images/mockup/MacBook Pro-dark.svg" alt="DarkImage">
        </div>
        <div class="overlay"></div>
    </div>

    <div class="btn-slider" id="slider"></div>

    <div class="light-side image-wrapper">
        <h1>ight & Dark Mode</h1>
        <div class="img-slide">
            <img src="images/mockup/MacBook Pro-light.svg" alt="LightImage">
        </div>
    </div>

    <div class="vertical-line"></div>
</section>