aside {
    border: none;



    @include lg {
        border-right: 1px solid var(--color-gray-300);
    }

    padding-right: 20px;

    .profile-info {
        margin: 20px;
        text-align: center;

        .profile-img {
            position: relative;
            display: inline-block;

            img {
                width: 120px;
            }

            .form-container {
                position: absolute;
                bottom: 0;
                right: 0;
                padding-left: 80px;
                padding-top: 5px;


                .button-circle {
                    position: relative;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    font-size: 12px;
                    background: var(--color-white);
                    border: 1px solid var(--color-gray-400);
                    border-radius: 50%;
                    @include shadow-m;
                    color: var(--color-black);
                    
                    i {
                        position: absolute;
                        top: 50%;
                        left: 45%;
                        transform: translate(-30%, -30%);
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }


        h5 {
            margin-top: 15px;
            margin-bottom: 0;
        }

        p {
            @include text-m;
        }
    }

    nav {
        margin-top: 20px;
        text-align: left !important;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-content: center;

        @include lg {
            display: block;
            margin-top: 50px;
            justify-content: left;
        }

        span {
            display: none;

            @include lg {
                display: block;
            }
        }

        a {
            margin: 10px 0;
            text-align: left;
            justify-content: flex-start;
        }

        .btn-transparent {
            text-align: left;
            justify-content: flex-start;
        }

        .btn-theme-s {
            text-align: left;
            justify-content: flex-start;
        }
    }
}
