.inputgroup {
    position: relative;
    display: grid;

    @include lg {
        display: flex;
        flex-grow: 1;
    }

    select, input {
        display: grid;
        padding: 1rem;
        padding-left: 40px;
        border-radius: 0.5rem !important;
        border: 0.063rem solid var(--color-gray-400);

        &::placeholder {
            opacity: 0.6;
        }

        @include lg {
            flex-grow: 1;
        }

        &:focus {
            outline: none;
            border: 0.063rem solid var(--color-gray-600);
        }
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }


    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: var(--color-gray);
    }
}
